.header__wrapper  {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:start;
    -ms-flex-align:start;
    align-items:flex-start;
    padding:19px 16px 0 
}

.header__left  {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -ms-flex-negative:0;
    flex-shrink:0;
    margin-right:auto 
}

.header__logo-link  {
    margin-bottom:15px 
}

.header__logo-link:not(.header__logo-link--active):focus,
.header__logo-link:not(.header__logo-link--active):hover {
    opacity:.5 
}
    
.header__logo-link:not(.header__logo-link--active):focus,
.header__logo-link:not(.header__logo-link--active):hover  {
    opacity:.5 
}