.property__image-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 2px;
    margin-right: 2px;
    width: 260px;
    height: 200px;
    overflow: hidden
}
    
.property__image-wrapper:nth-child(3n) {
    margin-right: 0 
}

.property__image {
    display: block;
    min-width: 100%;
    min-height: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1 
}
